.feature {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    font-size: 20px;
    background-color: #F4F6F6;
}

.feature--img {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    place-items: center;
}

@media screen and (max-width: 954px) {
    .feature--img{
        grid-template-columns: repeat(2, 1fr);
        gap: 2.5rem;
    }
}



